[submodule "SummationOfPrimes"]
	path = SummationOfPrimes
	url = https://github.com/mwienands/SummationOfPrimes.git
	branch = SummationOfPrimes
[submodule "MultiplesOf3and5"]
	path = MultiplesOf3and5
	url = https://github.com/mwienands/MultiplesOf3and5.git
	branch = MultiplesOf3and5
[submodule "EvenFibonacciNumbers"]
	path = EvenFibonacciNumbers
	url = https://github.com/mwienands/EvenFibonacciNumbers.git
	branch = EvenFibonacciNumbers
[submodule "LargestPrimeFactor"]
	path = LargestPrimeFactor
	url = https://github.com/mwienands/LargestPrimeFactor.git
	branch = LargestPrimeFactor
[submodule "LargestPalindromeProduct"]
	path = LargestPalindromeProduct
	url = https://github.com/mwienands/LargestPalindromeProduct.git
	branch = LargestPalindromeProduct
[submodule "smallestMultiple"]
	path = smallestMultiple
	url = https://github.com/mwienands/smallestMultiple.git
	branch = smallestMultiple
[submodule "SumSquaredDifference"]
	path = SumSquaredDifference
	url = https://github.com/mwienands/SumSquaredDifference.git
	branch = SumSquaredDifference
[submodule "10001stPrime"]
	path = 10001stPrime
	url = https://github.com/mwienands/10001stPrime.git
	branch = 10001stPrime
[submodule "LargestProductInASeries"]
	path = LargestProductInASeries
	url = https://github.com/mwienands/LargestProductInASeries.git
	branch = LargestProductInASeries
[submodule "SpecialPythagoreanTriplet"]
	path = SpecialPythagoreanTriplet
	url = https://github.com/mwienands/SpecialPythagoreanTriplet.git
	branch = SpecialPythagoreanTriplet
[submodule "LargestProductInAGrid"]
	path = LargestProductInAGrid
	url = https://github.com/mwienands/LargestProductInAGrid.git
	branch = LargestProjectInAGrid
